apiVersion: apps/v1
kind: Deployment
metadata:
  name: kakao
  labels:
    app: kakao
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kakao
  template:
    metadata:
      labels:
        app: kakao
    spec:
      containers:
        - name: kakao
          image: jwkimacr.azurecr.io/kakao:latest
          ports:
            - containerPort: 8080
 #        resources:
 #           limits:
 #             cpu: 500m
 #           requests:
 #             cpu: 200m
#          readinessProbe:
#            httpGet:
#              path: '/kakaoAlarms'
#              port: 8080
#            initialDelaySeconds: 12
#            timeoutSeconds: 2
#            periodSeconds: 5
#            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/isHealthy'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5
