apiVersion: apps/v1
kind: Deployment
metadata:
  name: bookalarm
  labels:
    app: bookalarm
spec:
  replicas: 1
  selector:
    matchLabels: 
      app: bookalarm
  template:
    metadata:
      labels:
        app: bookalarm
    spec:
      containers:
        - name: bookalarm
          image: admin31.azurecr.io/bookalarm:latest
          ports:
            - containerPort: 8080
 #        resources:
 #           limits:
 #             cpu: 500m
 #           requests:
 #             cpu: 200m
#          readinessProbe:
#            httpGet:
#              path: '/bookAlarms'
#              port: 8080
#            initialDelaySeconds: 12
#            timeoutSeconds: 2
#            periodSeconds: 5
#            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/isHealthy'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5
